* {
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0 0 0 0;
    padding: 1px;
    background-color: rgb(36, 36, 36);
    overflow: hidden;
}

button {
    width: max-content;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    color: rgb(30, 30, 30);
}

a {
    color: whitesmoke;
    -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
    transition: color .5s; /* For modern browsers */
}
a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: whitesmoke;
    background-color: transparent;
}

#sidePanel {
    padding: 5px 5px;
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #010203;
    overflow: auto;
    font-size: 20px;
}
#mainContent {
    margin: 0 0 0 0;
    text-align: center;
    margin-left: 200px;
    height: 100vh;
    width: calc(100vw - 190px);
}